<%- include('header.ejs') %>

<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <% bg.forEach((item)=>{ %>
      <div class="col-md-4">
        <div class="blog-box">
          <img
            src="<%= item.image.url %>"
            alt="blog1"
            width="250"
            height="250"
          />

          <h3><%= item.title %></h3>

          <p><%= item.description.slice(0,90) %></p>
          <a href="/blogdetail/<%= item._id %>" class="btn btn-danger"
            >Read more...</a
          >
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
<%- include('footer.ejs') %>
