                            

<%- include('../../adminheader.ejs')%>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blogdisplay" class="active">Blogs</a></li>
                            <li><a href="/admin/categorydisplay" >Categories</a></li>
                            <li><a href="/admin/contactdisplay">Contact</a></li>
                            <li><a href="/admin/aboutdisplay">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Blogs</h1>
                            </div>
                            <div class="dash-nav">
                               
                              
                            </div>
                        </div>
                        <form method="post" action="/blogupdate/<%= b._id %>" enctype="multipart/form-data">
                          
                            <div class="form-group form-row">
                                <label class="col-md-3 required">Title *</label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="title" placeholder="Title" value="<%= b.title %>" required >
                                </div>
                            </div>
                          
                            <div class="form-group form-row">
                                <label class="col-md-3 required">Description *</label>
                                <div class="col-md-9">
                                  <textarea name="description" rows="5" class="form-control" placeholder="Description" required ><%= b.description %></textarea>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label class="col-md-3 required">Image  *</label>
                                <div class="col-md-9">
                                 <input type="file" name="image" >
                                 <br><br>
                                 <img src="<%= b.image.url %>" width="100px">
                            </div>
                            
                            <div class="form-group form-row">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    
                                <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                          
            
                        
                    </form>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../../footer.ejs')%>